/* preventing undesired lines on header and footer */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Used to switch HTML objects */
.hidden {
    display: none;
}

/* styling the background and adding a multi-colored image with animation */
body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
    background-size: 2000% 2000%;
    animation: animatedGradient 15s infinite linear;
    font-family: "Audiowide", sans-serif;
    color: white
}

section {
    padding: 60px;
}

header {
    padding: 20px 35px;
}

#headerText {
    color: white;
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#topBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    float: right;
    padding-right: 30%
}

.intro ol {
    display: table;
    margin: 0 auto;
    text-align: start;
}

.intro ol li {
    margin: 10px 0;
}

.letsAddSpace {
    padding: 30px;
}

#start-btn{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: solid 2px white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#start-btn:active {
    box-shadow: 10px 10px 10px #000;
    transform: translateY(4px);
}

#start-btn {
    animation: buttonShake 2.8s;
    animation-iteration-count: infinite;
}

#highscore {
    animation: buttonShake 3s;
    animation-iteration-count: infinite;
}

#question {
    margin: 50px;
}

.potentialAnswer {
    display: table;
    margin: 30px 0;  
    margin-left: auto;
    margin-right: auto; 
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: solid 2px white;
    border-radius: 5px;
    width: 175px;
    height: 50px;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.potentialAnswer:hover {
    animation: buttonShake 0.5s;
    animation-iteration-count: infinite;
}

.potentialAnswer:active {
    animation: stop;
    box-shadow: 10px 10px 10px #000;
    transform: translateY(4px);
}


.initialContainer {
    position: relative;
    top: 6.5rem;
    right: 0.5rem;
}

.initialsBox{
    background-color: transparent;
    height: 1.8rem;
    width: 11.5rem;
    padding-left: 2.5px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: small;
    font-family: "Audiowide", sans-serif;
    border-color: white;
    border-radius: 5px;
    border-style: double;
    color: white;
    
    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
}

.submitbtn {
    width: 6rem;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 5px;
    height: 2.5rem;
    font-size: 1.2rem;
    display: inline-block;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
    position: relative;
    left: 1rem;
}

.returnBtn {
    position: relative;
    top: 7.5rem; 
    left: 0.1rem;
}

.alertUserScore {
    position: relative;
    top: 0rem;
    left: 0.5rem;
}

.btn {
    margin: 10px;
    padding: 5px;
    width: 190px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: solid 2px white;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
    animation: buttonShake 0.5s;

    animation-iteration-count: infinite;
}

.btn:active {
    animation: stop;
    box-shadow: 10px 10px 10px #000;
    transform: translateY(4px);
}


.enterScore {
    position: relative;
    text-align: center;
}

#scoreHeader {
    padding-bottom: 20px;
    font-size: 2.0rem;
}

.userScore {
    list-style: none;
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

#homebtn {
    margin-top: 1.5rem;
    padding-top: 0.5rem;
}

.container {
    padding: 60px;
    text-align: center;
}

/* footer style */
.footerWrapper {
    position: fixed;
    padding: 20px 35px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: left; 
}

.footerText {
    position: absolute;
    bottom: 30px;
    padding-left: 3px;
}

#footerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    padding: 20px 35px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left; 
}

/* animations for the background */
@keyframes animatedGradient {
    0% {
        background-position: 0 85%;
    }
    50% {
        background-position: 100% 20%;
    }
    100% {
        background-position: 0% 85%;
    }

}

/* buttonShake animation */
@keyframes buttonShake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Media Queries */
@media (max-width: 746px) {
    .letsAddSpace {
        padding: 0px;
    }
    
    .container {
        padding: 0px;
    }

    .headerEmoji {
        display: none;
    }

    #topBox {
        float: none;
        padding-right: initial;
        padding-left: unset;
    }

    .counter {
        text-align: center;
    }

    .intro ol {
        display: flex;
        flex-wrap: wrap;
        padding: 7% 35%;
        text-align: unset; 
        padding-bottom: 25px
    }

    .userOptions {
        margin-top: 0%; 
        margin-bottom: -17%;
    }

    .optionsText {
        padding: 12px;
    }

    #finalResults {
        padding-bottom: 25%;
    }

    .enterScore {
        padding-bottom: 25%;
        margin-top: -10%;
    }

    .footerSection {
        padding: 60px;
        padding-bottom: 10px;
        padding-top: 30%;
    }

    #footerImg {
        position: relative;
        padding: 0px 35px;
    }
    
    .footerWrapper {
        position: unset;
        padding: 0px 35px
    }

    .footerText {
        position: unset;
        padding-left: 0px;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .footerSection {
        padding-top: 35%;
    }
}

@media (max-width: 570px) {
    .alertUserScore {
        top: 8rem;
    }
    
    .initialContainer {
        top: 15.5rem;
    }
    
    .submitbtn {
        left: 0.5rem;
        top: 0rem;
    }
    
    .returnBtn {
        top: 18.5rem;
    }

    .enterScore {
        padding-bottom: 50%;
        margin-top: -30%;
    }
}

@media (max-width: 548px) {
    .intro ol {
        padding: 7% 22%;
    }

    .start-quiz {
        padding-bottom: 19%;
    }

    .footerSection {
        padding-top: 40%;
    }

    .enterScore {
        padding-bottom: 45%;
    } 

    #savedScore {
        padding: 0px;
        padding-bottom: 92%;
    }
}

@media (max-width: 528px) {
    .submitbtn {
        top: 1.5rem;
    }

    .enterScore {
        padding-bottom: 50%;
        margin-top: -40%;
    }
}

@media (max-width: 426px) {
    .submitbtn {
        top: 0.2rem;
    }

    #savedScore{
        padding-bottom: 34%;
    }

    #scoreSectionID {
        padding-bottom: 2%;
    }

    .enterScore {
        padding-bottom: 54%;
    }
}

@media (max-width: 404px) {
    .initialContainer {
        top: 16.5rem; 
    }

    .initialsHeader {
        margin-left: 1rem;
    }

    .initialsBox {
        width: 15rem;
        padding-left: 14%;
        margin-left: 1rem;
    }

    .submitbtn {
        top: 1.5rem;
    }

    #scoreSectionID {
        padding-bottom: 5%;
        padding: 0%;
    }

    .enterScore {
        padding-bottom: 73%;
        margin-top: -50%;
    }
}

@media (max-width: 363px) {
    .failedQuizStyle {
        font-size: 110%
    }

    .start-quiz {
        padding-bottom: 45%;
    }
    
    .alertUserScore {
        font-size: 1rem;
    }

    #savedScore {
        padding-bottom: 50%;
    }

    #scoreSectionID {
        padding-bottom: 10%;
    }

    .enterScore {
        padding-bottom: 96%;
        margin-top: -67%;
    }
}

@media (max-width: 350px) {
    .intro ol {
        display: flex;
        flex-wrap: wrap;
        padding: 60px;
        margin-top: -50px;
        text-align: center;
    }

    .userOptions {
        margin-top: -15%   
    }

    .initialsBox {
        margin-left: 0rem;
    }

    #scoreSectionID {
        padding-bottom: 15%;
    }
}

@media (max-width: 328px) {
    .alertUserScore {
        font-size: 86%;
    }

    .initialsHeader {
        margin-left: 2rem;
    }

    .initialsBox {
        width: 15rem;
        padding-left: 15%;
    }

    .submitbtn {
        margin-left: 1rem;
    }

    .returnBtn {
        right: 0.5rem;
    }

    #savedScore {
        padding-bottom: 61%;
    }

    #scoreSectionID {
        padding-bottom: 20%;
    }
}