/* preventing undesired lines on header and footer */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Used to switch HTML objects */
.hidden {
    display: none
}

/* styling the background and adding a multi-colored image with animation */
body {
    background-color: #fff;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #ff6596, #60bef8, #d88cff);
    background-size: 2000% 2000%;
    animation: animatedGradient 15s infinite linear;
    font-family: "Audiowide", sans-serif;
    color: white
}

section {
    padding: 60px;
}

header {
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 32px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#topBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}


.intro ol {
    display: table;
    margin: 0 auto;
    text-align: start;
}

.intro ol li {
    margin: 10px 0;
}

.letsAddSpace {
    padding: 30px;
}

#start-btn{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: solid 2px white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    display: inline-block;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#start-btn span:hover {
    filter: blur(4px);
    transition: 0.7s;
}

#start-btn:active {
    box-shadow: 10px 10px 10px #000;
    transform: translateY(4px);
}

.potentialAnswer {
    display: table;
    margin: 20px 0;  
    margin-left: auto;
    margin-right: auto; 
    background-color: transparent;
    cursor: pointer;
    border: none;
    border: solid 2px white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.potentialAnswer:active {
    box-shadow: 10px 10px 10px #000;
    transform: translateY(4px);
}

.container {
    padding: 30px;
    text-align: center;
}

/* footer style */
footer {
    position: fixed;
    padding: 20px 35px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: left; 
}

footer p {
    position: absolute;
    bottom: 30px;
    padding-left: 3px;
}

#footerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    padding: 20px 35px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: left; 
}

/* animations for the background */
@keyframes animatedGradient {
    0% {
        background-position: 0 85%;
    }
    50% {
        background-position: 100% 20%;
    }
    100% {
        background-position: 0% 85%;
    }

}